body {
    background-color: #9266ff;
}
  
.App {
    background-color: #3f3160;
    height: 600px;
    width: 400px;
    margin: 100px auto;
    overflow-y: auto;
    box-shadow: 12px 24px 40px rgba(0,0,0,0.25), 10px 10px 10px rgba(0,0,0,0.22);
}
  